In [18]:
import pandas as pd
import numpy as np

In [19]:
laliga=pd.read_csv('Laliga.csv',header=1)

In [20]:
laliga.sample(10).T

,41,17,28,39,6,54,4,51,10,3
Pos,42,18,29,40,7,55,5,52,11,4
Team,Pontevedra,Oviedo,Alaves,Recreativo,Espanyol,Lleida,Athletic Bilbao,Real Union,Deportivo La Coruna,Valencia
Seasons,6,38,12,5,82,2,86,4,45,82
Points,150,1174,421,188,2792,40,3368,56,1814,3386
GamesPlayed,180,1192,380,186,2626,68,2762,72,1530,2664
GamesWon,53,408,125,50,948,13,1209,21,563,1187
GamesDrawn,44,292,81,46,608,14,633,14,392,616
GamesLost,83,492,174,90,1070,41,920,37,575,861
GoalsFor,165,1642,458,202,3609,70,4631,153,2052,4398
GoalsAgainst,221,1951,623,296,3889,182,3700,184,2188,3469
Champion,-,-,-,-,-,-,8,-,1,6
Runner-up,-,-,-,-,-,-,7,-,5,6
Third,-,3,-,-,4,-,10,-,4,10
Fourth,-,2,-,-,5,-,5,-,1,11
Fifth,-,2,-,-,2,-,8,-,-,10
Sixth,-,4,1,-,5,-,10,1,1,7
T,-,11,1,-,16,-,49,1,12,50
Debut,1963-64,1933-34,1930-31,1978-79,1929,1950-51,1929,1929,1941-42,1931-32
Since/LastApp,1969-70,2000-01,2016-17,2008-09,1994-95,1993-94,1929,1931-32,2014-15,1987-88
BestPosition,7,3,6,8,3,16,1,6,1,1

In [21]:
lalinga_col=laliga.columns
laliga.shape

(61, 20)

In [22]:
laliga.replace(to_replace='-',value=0,inplace=True)
laliga.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

In [23]:
laliga['startyear']=laliga.Debut.str.split('-',n=1,expand=True)[0]
laliga['startyear']=pd.to_numeric((laliga['startyear']),downcast='signed')
laliga['Since/LastApp']=np.where(laliga['Since/LastApp'] == '1929',"2017-18",laliga['Since/LastApp'])
laliga['LastPlayed']=laliga['Since/LastApp'].str.split('-',n=1,expand=True)[0] 
laliga['LastPlayed']=pd.to_numeric((laliga['LastPlayed']),downcast='signed')
laliga['LastPlayed']=laliga['LastPlayed'] + 1
laliga.head(10)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,startyear,LastPlayed
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,8,3,4,79,1929,2017-18,1,1929,2018
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,12,4,6,83,1929,2017-18,1,1929,2018
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,16,9,7,6,56,1929,2002-03,1,1929,2003
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,10,11,10,7,50,1931-32,1987-88,1,1931,1988
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,10,5,8,10,49,1929,2017-18,1,1929,2018
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,4,5,12,6,32,1934-35,2001-02,1,1934,2002
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,...,4,5,2,5,16,1929,1994-95,3,1929,1995
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,...,2,5,4,3,19,1929,2010-11,1,1929,2011
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,4,5,4,4,18,1939-40,2012-13,2,1939,2013
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,2,3,4,4,14,1932-33,2015-16,1,1932,2016

In [24]:
print (laliga.loc[(laliga.startyear>1930) & (laliga.startyear<1980)])

    Pos                 Team  Seasons Points GamesPlayed GamesWon GamesDrawn  \
3     4             Valencia       82   3386        2664     1187        616
5     6              Sevilla       73   2819        2408      990        531
8     9             Zaragoza       58   2109        1986      698        522
9    10           Real Betis       51   1884        1728      606        440
10   11  Deportivo La Coruna       45   1814        1530      563        392
11   12           Celta Vigo       51   1789        1698      586        389
12   13           Valladolid       42   1471        1466      463        384
14   15       Sporting Gijon       43   1389        1458      471        358
15   16              Osasuna       37   1351        1318      426        327
16   17               Malaga       36   1314        1255      390        330
17   18               Oviedo       38   1174        1192      408        292
18   19             Mallorca       27   1148         988      333        256
19   20           Las Palmas       33   1020        1096      367        242
21   22              Granada       23    667         742      218        175
22   23       Rayo Vallecano       17    662         652      189        148
23   24                Elche       21    606         678      203        180
25   26             Hercules       20    538         628      184        149
26   27             Tenerife       13    510         494      155        128
27   28               Murcia       18    445         586      145        143
29   30              Levante       11    416         402      113         95
30   31            Salamanca       12    375         423      123        102
31   32             Sabadell       14    353         426      129         95
32   33                Cadiz       12    343         448      104        127
34   35            Castellon       11    285         334      103         79
37   38              Cordoba        9    230         282       82         63
39   40           Recreativo        5    188         186       50         46
40   41            Burgos CF        6    168         204       59         50
41   42           Pontevedra        6    150         180       53         44
46   47            Gimnastic        4     91         116       34         16
49   50             Alcoyano        4     76         108       30         16
50   51                 Jaen        3     71          90       29         13
52   53           AD Almeria        2     52          68       17         18
54   55               Lleida        2     40          68       13         14
57   58               Condal        1     22          30        7          8
58   59      Atletico Tetuan        1     19          30        7          5
59   60     Cultural Leonesa        1     14          30        5          4

   GamesLost GoalsFor GoalsAgainst  ... Third Fourth Fifth Sixth   T    Debut  \
3        861     4398         3469  ...    10     11    10     7  50  1931-32
5        887     3680         3373  ...     4      5    12     6  32  1934-35
8        766     2683         2847  ...     4      5     4     4  18  1939-40
9        682     2159         2492  ...     2      3     4     4  14  1932-33
10       575     2052         2188  ...     4      1     0     1  12  1941-42
11       723     2278         2624  ...     0      2     4     5  11  1939-40
12       619     1767         2180  ...     0      1     1     1   3  1948-49
14       629     1753         2152  ...     1      2     2     1   7  1944-45
15       565     1500         1834  ...     0      2     2     2   6  1935-36
16       535     1421         1763  ...     0      1     0     1   2  1949-50
17       492     1642         1951  ...     3      2     2     4  11  1933-34
18       399     1182         1371  ...     2      0     2     1   5  1960-61
19       487     1347         1746  ...     1      1     1     1   5  1951-52
21       349      819         1157  ...     0      0     0     2   2  1941-42
22       305      760         1088  ...     0      0     0     0   0  1977-78
23       295      750         1022  ...     0      0     1     1   2  1959-60
25       295      716         1050  ...     0      0     1     4   5  1935-36
26       211      619          744  ...     0      0     2     0   2  1961-62
27       298      607          992  ...     0      0     0     0   0  1940-41
29       194      430          632  ...     0      0     0     1   1  1963-64
30       198      422          581  ...     0      0     0     0   0  1974-75
31       202      492          720  ...     0      1     1     0   2  1943-44
32       217      393          662  ...     0      0     0     0   0  1977-78
34       152      419          588  ...     0      1     2     0   3  1941-42
37       137      285          430  ...     0      0     1     0   1  1962-63
39        90      202          296  ...     0      0     0     0   0  1978-79
40        95      216          310  ...     0      0     0     0   0  1971-72
41        83      165          221  ...     0      0     0     0   0  1963-64
46        66      181          295  ...     0      0     0     0   0  1947-48
49        62      145          252  ...     0      0     0     0   0  1945-46
50        48      121          183  ...     0      0     0     0   0  1953-54
52        33       71          116  ...     0      0     0     0   0  1979-80
54        41       70          182  ...     0      0     0     0   0  1950-51
57        15       37           57  ...     0      0     0     0   0  1956-57
58        18       51           85  ...     0      0     0     0   0  1951-52
59        21       34           65  ...     0      0     0     0   0  1955-56

   Since/LastApp BestPosition startyear  LastPlayed
3        1987-88            1      1931        1988
5        2001-02            1      1934        2002
8        2012-13            2      1939        2013
9        2015-16            1      1932        2016
10       2014-15            1      1941        2015
11       2012-13            4      1939        2013
12       2013-14            4      1948        2014
14       2015-16            2      1944        2016
15       2016-17            4      1935        2017
16       2008-09            4      1949        2009
17       2000-01            3      1933        2001
18       2012-13            3      1960        2013
19       2015-16            2      1951        2016
21       2016-17            6      1941        2017
22       2015-16            8      1977        2016
23       2014-15            5      1959        2015
25       2010-11            5      1935        2011
26       2009-10            5      1961        2010
27       2007-08           11      1940        2008
29       2015-16            6      1963        2016
30       1998-99            7      1974        1999
31       1987-88            4      1943        1988
32       2005-06           12      1977        2006
34       1990-91            4      1941        1991
37       2014-15            5      1962        2015
39       2008-09            8      1978        2009
40       1979-80           12      1971        1980
41       1969-70            7      1963        1970
46       2006-07            7      1947        2007
49       1950-51           10      1945        1951
50       1957-58           14      1953        1958
52       1980-81           10      1979        1981
54       1993-94           16      1950        1994
57       1956-57           16      1956        1957
58       1951-52           16      1951        1952
59       1955-56           15      1955        1956

[36 rows x 22 columns]

In [8]:
laliga['Points']=pd.to_numeric((laliga['Points']),downcast='signed')
laliga.sort_values(by=['Points'],ascending=False).head(5)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,startyear,LastPlayed
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,8,3,4,79,1929,2017-18,1,1929,2018
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,12,4,6,83,1929,2017-18,1,1929,2018
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,16,9,7,6,56,1929,2002-03,1,1929,2003
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,10,11,10,7,50,1931-32,1987-88,1,1931,1988
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,10,5,8,10,49,1929,2017-18,1,1929,2018

In [9]:
def Goal_diff_count(laliga_pass):
    gf=pd.to_numeric((laliga_pass['GoalsFor']),downcast='signed')
    ga=pd.to_numeric((laliga_pass['GoalsAgainst']),downcast='signed')
    laliga['GoalDiff']=pd.Series(gf-ga)
    print("Maximum goal difference is {}".format(max(laliga_pass['GoalDiff'])))
    print("Minimum goal difference is {}".format(min(laliga_pass['GoalDiff'])))
   
Goal_diff_count(laliga)

Maximum goal difference is 2807
Minimum goal difference is -525

In [10]:
type(laliga.loc[1,'GamesWon'])

str

In [11]:
laliga['GamesPlayed']=pd.to_numeric((laliga['GamesPlayed']),downcast='signed')
laliga['GamesWon']=pd.to_numeric((laliga['GamesWon']),downcast='signed')
laliga['WinningPercent']=(laliga['GamesWon']/laliga['GamesPlayed'])*100
laliga['WinningPercent'].fillna(value='0',inplace=True)
laliga

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,startyear,LastPlayed,GoalDiff,WinningPercent
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,3,4,79,1929,2017-18,1,1929,2018,2807,59.6307
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,4,6,83,1929,2017-18,1,1929,2018,2786,57.2411
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,7,6,56,1929,2002-03,1,1929,2003,1225,47.4751
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,10,7,50,1931-32,1987-88,1,1931,1988,929,44.5571
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,8,10,49,1929,2017-18,1,1929,2018,931,43.7726
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,12,6,32,1934-35,2001-02,1,1934,2002,307,41.113
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,...,2,5,16,1929,1994-95,3,1929,1995,-280,36.1005
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,...,4,3,19,1929,2010-11,1,1929,2011,-2,37.5326
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,4,4,18,1939-40,2012-13,2,1939,2013,-164,35.146
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,4,4,14,1932-33,2015-16,1,1932,2016,-333,35.0694
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,0,1,12,1941-42,2014-15,1,1941,2015,-136,36.7974
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,4,5,11,1939-40,2012-13,4,1939,2013,-346,34.5112
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,1,1,3,1948-49,2013-14,4,1948,2014,-413,31.5825
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,...,0,1,5,1929,2011-12,2,1929,2012,-525,31.7227
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,2,1,7,1944-45,2015-16,2,1944,2016,-399,32.3045
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,2,2,6,1935-36,2016-17,4,1935,2017,-334,32.3217
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,0,1,2,1949-50,2008-09,4,1949,2009,-342,31.0757
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,2,4,11,1933-34,2000-01,3,1933,2001,-309,34.2282
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,2,1,5,1960-61,2012-13,3,1960,2013,-189,33.7045
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,1,5,1951-52,2015-16,2,1951,2016,-399,33.4854
20,21,Villarreal,17,970,646,266,172,208,892,789,...,3,2,9,1998-99,2013-14,2,1998,2014,103,41.1765
21,22,Granada,23,667,742,218,175,349,819,1157,...,0,2,2,1941-42,2016-17,6,1941,2017,-338,29.3801
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,0,1977-78,2015-16,8,1977,2016,-328,28.9877
23,24,Elche,21,606,678,203,180,295,750,1022,...,1,1,2,1959-60,2014-15,5,1959,2015,-272,29.941
24,25,Getafe,12,553,456,147,112,197,520,633,...,0,1,1,2004-05,2015-16,6,2004,2016,-113,32.2368
25,26,Hercules,20,538,628,184,149,295,716,1050,...,1,4,5,1935-36,2010-11,5,1935,2011,-334,29.2994
26,27,Tenerife,13,510,494,155,128,211,619,744,...,2,0,2,1961-62,2009-10,5,1961,2010,-125,31.3765
27,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,0,1940-41,2007-08,11,1940,2008,-385,24.744
28,29,Alaves,12,421,380,125,81,174,458,623,...,0,1,1,1930-31,2016-17,6,1930,2017,-165,32.8947
29,30,Levante,11,416,402,113,95,194,430,632,...,0,1,1,1963-64,2015-16,6,1963,2016,-202,28.1095
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,32,Sabadell,14,353,426,129,95,202,492,720,...,1,0,2,1943-44,1987-88,4,1943,1988,-228,30.2817
32,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,0,1977-78,2005-06,12,1977,2006,-269,23.2143
33,34,Logrones,9,293,346,96,92,158,291,489,...,0,0,0,1987-88,1996-97,7,1987,1997,-198,27.7457
34,35,Castellon,11,285,334,103,79,152,419,588,...,2,0,3,1941-42,1990-91,4,1941,1991,-169,30.8383
35,36,Albacete,7,277,270,76,76,118,320,410,...,0,0,0,1991-92,2004-05,7,1991,2005,-90,28.1481
36,37,Almeria,6,242,228,62,56,110,244,366,...,0,0,0,2007-08,2014-15,8,2007,2015,-122,27.193
37,38,Cordoba,9,230,282,82,63,137,285,430,...,1,0,1,1962-63,2014-15,5,1962,2015,-145,29.078
38,39,Compostela,4,190,160,52,45,63,199,241,...,0,0,0,1994-95,1997-98,10,1994,1998,-42,32.5
39,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,0,1978-79,2008-09,8,1978,2009,-94,26.8817
40,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,0,1971-72,1979-80,12,1971,1980,-94,28.9216
41,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,0,1963-64,1969-70,7,1963,1970,-56,29.4444
42,43,Numancia,4,148,152,37,37,78,155,253,...,0,0,0,1999-00,2008-09,17,1999,2009,-98,24.3421
43,44,Eibar,3,132,114,35,27,52,139,167,...,0,0,0,2014-15,2014-15,10,2014,2015,-28,30.7018
44,45,Arenas,7,107,130,43,21,66,227,308,...,3,0,4,1929,1934-35,3,1929,1935,-81,33.0769
45,46,Real Burgos,3,96,114,26,44,44,101,139,...,0,0,0,1990-91,1992-93,9,1990,1993,-38,22.807
46,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,0,1947-48,2006-07,7,1947,2007,-114,29.3103
47,48,Extremadura,2,83,80,20,23,37,62,117,...,0,0,0,1996-97,1998-99,17,1996,1999,-55,25
48,49,Merida,2,81,80,19,24,37,70,115,...,0,0,0,1995-96,1997-98,19,1995,1998,-45,23.75
49,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,0,1945-46,1950-51,10,1945,1951,-107,27.7778
50,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,1953-54,1957-58,14,1953,1958,-62,32.2222
51,52,Real Union,4,56,72,21,14,37,153,184,...,0,1,1,1929,1931-32,6,1929,1932,-31,29.1667
52,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,1979-80,1980-81,10,1979,1981,-45,25
53,54,Europa,3,42,54,18,6,30,97,131,...,0,0,0,1929,1930-31,8,1929,1931,-34,33.3333
54,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,0,1950-51,1993-94,16,1950,1994,-112,19.1176
55,56,Leganes,1,35,38,8,11,19,36,55,...,0,0,0,2016-17,2016-17,17,2016,2017,-19,21.0526
56,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,0,2009-10,2009-10,20,2009,2010,-28,21.0526
57,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,1956-57,1956-57,16,1956,1957,-20,23.3333
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,1951-52,1951-52,16,1951,1952,-34,23.3333
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,1955-56,1955-56,15,1955,1956,-31,16.6667
60,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,2017-18,2017-18,9,2017,2018,0,0

In [17]:
print(laliga.groupby("BestPosition")['Points'].sum())

BestPosition
1     27933
2      6904
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
20       34
Name: Points, dtype: int16